### **Compare between signle name datasets and whole dataset**

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
project_dir = "/home/jupyter-tfg2425paula/prediction_project_v3"
os.chdir(project_dir)

clean_data_dir = os.path.join(project_dir, "00_data/clean")
horizontal_data_dir = os.path.join(project_dir, "00_data/horizontal_structure")
results_dir = os.path.join(project_dir, "02_results")
plots_dir = os.path.join(project_dir, "03_plots")
pca_data_dir = os.path.join(project_dir, "00_data/pca")

In [12]:
df = pd.read_csv(os.path.join(results_dir, "combined_vs_individual/combined_total_data.csv"), sep=";", decimal=",")
df

,Type,security_type,window_size,model_type,iteration,Precisión,loss_decrease_percentage,final_train_loss
0,combined,options,5,lstm,1,0.52,-63.5,0.25
1,combined,options,5,lstm,2,0.51,-58.7,0.29
2,combined,options,5,lstm,3,0.54,-59.6,0.28
3,combined,options,5,lstm,4,0.55,-50.7,0.34
4,combined,options,5,lstm,5,0.54,-62.7,0.26
...,...,...,...,...,...,...,...,...
145,AAPL,technical,3,LSTM,1,0.56,-87.5,0.09
146,AAPL,technical,3,LSTM,2,0.56,-84.5,0.11
147,AAPL,technical,3,LSTM,3,0.48,-78.5,0.15
148,AAPL,technical,3,LSTM,4,0.52,-79.9,0.14
149,AAPL,technical,3,LSTM,5,0.49,-74.2,0.18

In [24]:
df['Precisión'] = pd.to_numeric(df['Precisión'], errors='coerce')

df_combined = df[df['Type'] == 'combined']
df_other = df[df['Type'] != 'combined']

# Define aggregation functions
agg_funcs = {
    'Precisión': ['mean', 'min', 'max', 'std']
}

summary_combined = df_combined.groupby(['security_type', 'window_size', 'model_type']).agg(agg_funcs).reset_index()
summary_combined.columns = ['security_type', 'window_size', 'model_type', 'avg_accuracy', 'min_accuracy', 'max_accuracy', 'std_accuracy']
summary_combined

,security_type,window_size,model_type,avg_accuracy,min_accuracy,max_accuracy,std_accuracy
0,options,5,gru,0.538,0.53,0.55,0.008367
1,options,5,lstm,0.532,0.51,0.55,0.016432
2,options,10,gru,0.544,0.53,0.56,0.011402
3,options,10,lstm,0.558,0.54,0.59,0.020494
4,options,50,gru,0.556,0.54,0.58,0.015166
5,options,50,lstm,0.590,0.55,0.62,0.029155
6,options,100,gru,0.592,0.59,0.60,0.004472
7,options,100,lstm,0.618,0.60,0.64,0.014832
8,single_name,5,gru,0.518,0.51,0.53,0.008367
9,single_name,5,lstm,0.518,0.50,0.54,0.016432
10,single_name,10,gru,0.548,0.54,0.56,0.008367
11,single_name,10,lstm,0.544,0.52,0.57,0.018166
12,single_name,50,gru,0.604,0.58,0.63,0.019494
13,single_name,50,lstm,0.610,0.60,0.62,0.007071
14,single_name,100,gru,0.640,0.62,0.66,0.020000
15,single_name,100,lstm,0.650,0.63,0.68,0.020000
16,technical,5,gru,0.980,0.98,0.98,0.000000
17,technical,5,lstm,0.606,0.56,0.67,0.051284
18,technical,10,gru,0.958,0.87,0.98,0.049193
19,technical,10,lstm,0.600,0.56,0.64,0.033912
20,technical,50,gru,0.974,0.96,0.98,0.008944
21,technical,50,lstm,0.498,0.41,0.57,0.061400
22,technical,100,gru,0.742,0.27,0.97,0.275173
23,technical,100,lstm,0.478,0.38,0.56,0.073280

In [25]:
summary_st = df_combined.groupby(['security_type', 'model_type']).agg(agg_funcs).reset_index()
summary_st.columns = ['security_type','model_type', 'avg_accuracy', 'min_accuracy', 'max_accuracy', 'std_accuracy']
summary_st

,security_type,model_type,avg_accuracy,min_accuracy,max_accuracy,std_accuracy
0,options,gru,0.5575,0.53,0.60,0.023592
1,options,lstm,0.5745,0.51,0.64,0.038454
2,single_name,gru,0.5775,0.51,0.66,0.050667
3,single_name,lstm,0.5805,0.50,0.68,0.055675
4,technical,gru,0.9135,0.27,0.98,0.163877
5,technical,lstm,0.5455,0.38,0.67,0.079105

In [ ]:
summary_model = df_combined.groupby(['security_type', 'model_type']).agg(agg_funcs).reset_index()
summary_model.columns = ['security_type','model_type', 'avg_accuracy', 'min_accuracy', 'max_accuracy']
summary_model

In [27]:
summary_other = df_other.groupby(['security_type','model_type']).agg(agg_funcs).reset_index()
summary_other.columns = ['security_type', 'model_type','avg_accuracy', 'min_accuracy', 'max_accuracy', 'std_accuracy']
summary_other

,security_type,model_type,avg_accuracy,min_accuracy,max_accuracy,std_accuracy
0,options,GRU,0.586,0.57,0.59,0.008944
1,options,LSTM,0.530,0.44,0.63,0.070711
2,single_name,GRU,0.542,0.52,0.56,0.014832
3,single_name,LSTM,0.544,0.51,0.59,0.034351
4,technical,GRU,0.534,0.47,0.57,0.039115
5,technical,LSTM,0.522,0.48,0.56,0.037683